<form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="endPoint">Endpoint:</label>
            <div class="controls">
                <input type="text" id="endPoint" ng-model="api.endPoint"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="endPointTimeout">Endpoint Timeout:</label>
            <div class="controls">
                <input type="number" id="endPointTimeout" ng-model="api.endPointTimeout"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="keylessQps">Queries per/sec keyless:</label>
            <div class="controls">
                <input type="number" id="keylessQps" ng-model="api.keylessQps"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="keylessQpd">Queries per/day keyless:</label>
            <div class="controls">
                <input type="number" id="keylessQpd" ng-model="api.keylessQpd"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="allowKeylessUse">allow keyless:</label>
            <div class="controls">
                <input type="checkbox" id="allowKeylessUser"
                ng-true-value=true
                ng-false-value=false
                ng-model="api.allowKeylessUse"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
              <a ng-click="saveApi()" class="btn btn-small btn-primary">Save</a>
            </div>
        </div>
    </form>
