<h2>API: {{ name }}</h2>
<ul>
  <li>Allow Keyless User: {{ api.allowKeylessUse }}</li>
  <li>Api Format: {{ api.apiFormat }}</li>
  <li>Cors Enabled: {{ api.corsEnabled }}</li>
  <li>Created at: {{ api.createdAt }}</li>
  <li>Disabled: {{ api.disabled }}</li>
  <li>Endpoint: {{ api.endPoint }}</li>
  <li>Endpoint Timeout: {{ api.endPointTimeout }}</li>
  <li>Has Capture Paths: {{ api.hasCapturePaths }}</li>
  <li>Keyless Qpd: {{ api.keylessQpd }}</li>
  <li>Keyless Qps: {{ api.keylessQps }}</li>
  <li>Protocol: {{ api.protocol }}</li>
  <li>Send Through Api key: {{ api.sendThroughApiKey }}</li>
  <li>Send through Api sig: {{ api.sendThroughApiSig }}</li>
  <li>Strct SSL: {{ api.strictSSL }}</li>
  <li>Token Skew Protection Count: {{ api.tokenSkewProtectionCount }}</li>
</ul>

<ul>
  <li>
    <a ng-click="editApi(name)" class="btn btn-small btn-primary">edit</a>
  </li>
</ul>
