<form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="endPoint">Endpoint:</label>
            <div class="controls">
                <input type="text" id="endPoint" ng-model="api.endPoint"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
              <a ng-click="createNewApi()" class="btn btn-small btn-primary">create new api</a>
            </div>
        </div>
    </form>
